<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Date</title>
</head>
<body>
    <h1>Hello, Oluwaseun, it's <%= dayType %></h1>
    <h1><%= advice %>!</h1>
    
    
</body>
</html>